
.scrap-check-wrap {
	display: flex;
	align-items: center;
	font-family: AppleSDGothicNeo, Nanum Gothic, sans-serif;
	width: 185px;
	user-select: none;
	cursor: pointer;

	img {
		width: 24px;
	}

	.text {
		margin-left: 6px;
		font-family: AppleSDGothicNeo, Nanum Gothic, sans-serif;
		font-size: 15px;
		color: rgb(66, 66, 66);
	}
}