
.scrap-check-wrap {
	display: flex;
	align-items: center;
	font-family: AppleSDGothicNeo sans-serif;
	
	img {
		width: 24px;
		cursor: pointer;
	}

	.text {
		margin-left: 6px;
		font-size: 15px;
		color: rgb(66, 66, 66);
	}
}